# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
.build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved
